.container {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #e4e8ec;
  box-shadow: 0 1px 0 0 #d7dde1;
  border-radius: 2px;
}
.btnrow {
  padding: 20px;
  box-shadow: 0 0px 8px #dddfe5;
}

.formBody{
  overflow: auto;
  padding: 20px 30px;
}
