# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
bower_components

# production
dist
crmweb.zip

# misc
.DS_Store
npm-debug.log*

# ide
.idea
.vscode
.tern-project

# logs
logs
*.log
npm-debug.log*

# other
.svn
