.relTable {
  :global {
    .ant-form-item > .ant-form-item, .ant-form-item :not(.ant-form) > .ant-form-item {
      margin-bottom: 0;
    }
  }
}
.tableContent{
  position: relative;
}
.tableWrap {
  position: relative;
  overflow-x: auto;
}
.table {
  display: table;
}
.table > div {
  display: table-row-group;
}
.tr {
  display: table-row;
}
.th,
.td {
  display: table-cell;
  font-size: 12px;
  //max-width: 201px;
}
.required{
  &:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f04134;
  }
}
.table {
  width: 100%;
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  border-radius: 3px 3px 0 0;
  overflow: hidden;

  .tr > .th,
  .tr > .td {
    border-right: 1px solid #e9e9e9;
    word-break: break-all;

    .controlWrap {
      min-width: 180px;
      margin-bottom: 0!important;

      :global{
        .ant-form-explain{
          display: none;
        }
        .ant-form-item-control-wrapper{
          min-height: 0;
        }
      }

      &.dateForm{
        min-width: 110px;
      }
      &.textForm{
        min-width: 80px;
      }
    }
  }

  .tr > .th {
    transition: background .3s ease;
    text-align: left;
    color: rgba(0,0,0,.85);

    padding: 2px;
    font-weight: 400;
    background-color: #fff;
    white-space: nowrap;
    border-bottom: 1px solid #e9e9e9;
  }

  .tr > .td {
    padding: 2px;
    border-right: 1px solid #e9e9e9;
    word-break: break-all;
    border-bottom: 1px solid #e9e9e9;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    &.hidden{
      visibility: hidden;
    }
  }
  & > div:nth-child(2n) .td {
    background-color: #f9f9f9;
  }

  .tr .th.selectionCell,
  .tr .td.selectionCell {
    text-align: center;
    min-width: 62px;
    width: 62px;
  }
}
:global {
  .custom-has-error .ant-form-explain, .has-error .ant-form-split {
    color: #f04134;
  }
}

.fixTopWrap{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  overflow: hidden;
  z-index: 2;
  border-bottom: 1px solid rgb(233, 233, 233);

  .fixTopTable{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &.fixTopWrapHidden{
    display: none;
  }
}

.fixLeftWrap{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  overflow: hidden;
  z-index: 3;

  .fixLeftTable{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .fixLeftTopTable{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;

    .th:last-of-type{
      border-right: none;
    }
  }
}


.tableView{
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      white-space: normal!important;
    }
  }
}

.btnGap {
  margin-right: 15px;
}

.wrapPage {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  border: 1px solid rgb(233, 233, 233);
  height: 41px;
  right: 10px;
  background-color: rgb(255, 255, 255);
  padding-right: 10px;
  .allSel {
    width: 100px;
    margin-left: 10px;
  }
}

.relTablePickerModalWrapCalss {
  :global(.ant-modal-body) {
    padding-top: 0px !important;
  }
  :global(.ant-table-content) {
    thead {
      th {
        span {
          display: inline-block;
        }
      }
    }
  }
}

.customFilterDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  .header {
    padding-bottom: 2px;
    position: relative;
    >span:first-of-type > i{
      position: relative;
      top: -4px;
    }
    label{
      font-size: 12px;
      color: #b7b5b5;
      display: inline-block;
      width: 140px; // 有一个固定的宽度
      white-space: nowrap;// 不允许换行
      overflow: hidden; // 超出宽度不显示
      text-overflow: ellipsis;  // 规定当文本溢出包含元素时显示省略号。
    }
    >span:nth-child(2){
      font-size: 12px;
      color: #41a3e4;
      cursor: pointer;
      position: absolute;
      top: 1px;
      right: 0px;
      width: 50px;
    }
  }
  .content {
    min-width: 160px;
    input {
      width: 100%;
    }
  }
  .footer {
    padding-top: 8px;
    text-align: right;
  }
}
