@import "../../../styles/_variables";
@import "../../../styles/_mixins";
.wrap {
  height: 32px;
  &.disabled {
    & > :global(.ant-input) {
      cursor: not-allowed;
      background-color: rgb(247, 247, 247);
      color: rgba(0, 0, 0, 0.5);
    }
  }
  &.empty {
    & > :global(.ant-input) {
      color: #cccccc;
    }
  }

  & > :global(.ant-input) {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  min-height: 31px;
}

.userlist {
  list-style-type: none;
  border: 1px solid #d9d9d9;
  height: 400px;
  overflow: auto;

  li {
    border-top: 1px solid rgb(233, 233, 233);
    position: relative;
    cursor: pointer;
    padding-right: 26px;

    &.highlight{
      background-color: @primary-color;
      color: #ffffff;
    }

    i {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      right: 8px;
    }

    &:hover i {
      display: block;
    }

    span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 10px;
      vertical-align: middle;
      line-height: 40px;

      &:first-of-type {
        width: 40%;
      }
      &:last-of-type {
        width: 60%;
      }
    }
  }
}
.midcontrol {
  i {
    font-size: 54px;
    cursor: pointer;
    color: #666;

    &:hover {
      color: #848484;
    }

    &:first-child {
      margin: 100px 0 50px;
    }
  }
}


.iconClose{
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  color: #999999;
}
.iconClose:hover{
  color: #333333;
}
.iconCloseShow{
  display: inline-block;
}


.clearFix{
  zoom:1;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

.inputSelectWrap{
  .clearFix;
  :global{
    .ant-select{
      width: ~"calc(100% - 30px)";
      float: left;
    }
  }
  .openModal{
    width: 30px;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #a7a7a7;
    cursor: pointer;
  }

  .openModalDisabled{
    opacity: 0.3;
    cursor: not-allowed;
  }
}

