.Wrap{
  border: 1px solid #d9d9d9;
  :global{
    .ant-row{
      >div{
        text-align: center;
      }
    }
  }

  .Header{
    background: #f4f4f4;
    font-size: 14px;
    color: #3A3C4F;
    height: 50px;
    line-height: 50px;
  }

  .body{
    i{
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
      cursor: pointer;
      color: #d9dbdd;
      display: none;
    }
    &:nth-child(odd){
      background: #f9f9f9;
    }
    &:hover{
      background: #eff7fc;
      i{
        display: inline-block;
      }
    }

    :global{
      .ant-col-6{
        position: relative;
        height: 40px;
        line-height: 40px;
        .ant-select{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 90%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
