.clearFix{
  zoom:1;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
@panel-top: 60px;
@panel-width: 640px;

.panelWrap {
  position: fixed;
  top: @panel-top;
  right: -(@panel-width + 10);
  bottom: 0;
  width: @panel-width;
  background-color: #fff;
  line-height: 1;
  //display: none;
  transition: all ease 0.5s;
  &.panelVisible {
    //display: block;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
  }

  .header{
    .clearFix;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #464E5D;
    padding-left: 26px;

    >li{
      float: left;
      height: 100%;
    }
  }

  .body{
    height: calc(~"100% - 70px");
    background: #F3F6F9;

    >.bodyWrap{
      height: 100%;
    }
  }
}


.otherPanelWrap{
  display: none;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
  right: @panel-width + 10;
  top: @panel-top + 10;
  bottom: 10px;
  width: 600px;
  background: #ffffff;
}
