.clearfix{
  zoom:1
}
.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.deskWrap{
  .clearfix;
  .componentsWrap{
    width: 300px;
    float: left;
  }
  .layoutWrap{
    width: ~"calc(100% - 300px)";
    float: left;
  }
  .leftWrap{
    width: 66.6666666%;
    float: left;

    :global{
      .grid-item{
        width: 50%;
      }
      .grid-item--width2{
        width: 100%;
      }
    }
  }

  .rightWrap{
    width: 33.3333333%;
    float: left;
    :global{
      .grid-item{
        width: 100%;
      }
    }
  }

  :global{
    /* ---- grid ---- */

    .grid {
      background: #fff;
      width: 100%;
    }

    /* clear fix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }


    /* ---- .grid-item ---- */

    .grid-item {
      float: left;
      width: 200px;
      height: 100px;
      background: #dcdce3;
      border: 2px solid hsla(0, 0%, 0%, 0.5);
    }

    .grid-item--width2 { width: 400px; }
    .grid-item--height2 { height: 400px; }

    .grid-item:hover {
      border-color: hsla(0, 0%, 100%, 0.5);
      cursor: move;
    }

    .grid-item.is-dragging,
    .grid-item.is-positioning-post-drag {
      background: #cae9ee;
      z-index: 2;
    }

    .packery-drop-placeholder {
      outline: 3px dashed hsla(0, 0%, 0%, 0.5);
      outline-offset: -6px;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
    }




    .stamp, .stamp2{
      .packery-drop-placeholder;
      position: absolute;
      width: 50%;
      height: 100px;
    }
    .dragEle {
      position: absolute;
      left: 0;
      top: 100px;
      width: 260px;
      height: 100px;
      background: #C90;
      border: 4px dotted hsla(0, 0%, 0%, 0.5);
    }
  }
}
