.clearfix{
  zoom:1
}
.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.deskWrap{
  .clearfix;
  .toolBar{
    height: 70px;
    line-height: 60px;
    padding: 0 20px;
    background: #464e5d;
  }
  .componentsWrap{
    width: 200px;
    height: ~"calc(100vh - 130px)";
    float: left;

    :global{
      .component{
        width: 150px;
        height: 80px;
        margin: 10px;
        background: #00a0eb;
        z-index: 1;
      }
    }
  }
  .layoutWrap{
    width: ~"calc(100% - 200px)";
    float: left;
    background: #fff;
  }

  :global{
    /* ---- grid ---- */

    .grid {
      width: 1050px;
      height: 100%;
    }

    /* clear fix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }


    /* ---- .grid-item ---- */

    .grid-item, .grid-sizer {
      float: left;
      width: 350px;
      height: 100px;
      background: #dcdce3;
      border: 2px solid hsla(0, 0%, 0%, 0.5);
    }

    .grid-item-width2 { width: 700px; }
    .grid-item-height2 { height: 400px; }

    .grid-item:hover {
      border-color: hsla(0, 0%, 100%, 0.5);
      cursor: move;
    }

    .grid-item.is-dragging,
    .grid-item.is-positioning-post-drag {
      background: #cae9ee;
      z-index: 2;
    }

    .packery-drop-placeholder {
      outline: 3px dashed hsla(0, 0%, 0%, 0.5);
      outline-offset: -6px;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
    }




    .stamp, .stamp2{
      .packery-drop-placeholder;
      position: absolute;
      width: 10px;
      height: 100px;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
    }
    .dragEle {
      position: absolute;
      left: 0;
      top: 100px;
      width: 260px;
      height: 100px;
      background: #C90;
      border: 4px dotted hsla(0, 0%, 0%, 0.5);
    }
  }
}
