.group_tabPanel, .recent_tabPanel, .contact_tabPanel{
  height: 100%;
  background: #F3F6F9;

  .title{
    height: 70px;
    line-height: 70px;
    padding-left: 40px;
    font-size: 18px;
    color: #333333;

    position: relative;
    &:before{
      content: '';
      width: 4px;
      height: 4px;
      position: absolute;
      left: 24px;
      top: 50%;
      margin-top: -2px;
      border-radius: 50%;
      background: #42A5F5;
    }
  }
}

.contact_tabPanel{
  >.contactsPanel{
    height: ~"calc(100% - 70px)";
  }
  .categoryTabs{
    width: 180px;
    height: 100%;
    float: left;
    padding-left: 24px;

    >.panelTabItem{
      height: 90px;
      line-height: 90px;
      font-size: 16px;
      color: #333333;
      padding-left: 72px;
      background: no-repeat 26px center;
      background-size: 30px 30px;
      cursor: pointer;

      &:nth-child(1){
        background-image: url("../webIMIcon/icon_star_grey.png");
      }
      &:nth-child(2){
        background-image: url("../webIMIcon/icon_department_grey.png");
      }
      &:nth-child(3){
        background-image: url("../webIMIcon/icon_org_grey.png");
      }

      &.isActive{
        border-radius: 8px 0 0 8px;
        background-color: #ffffff;
        &:nth-child(1){
          background-image: url("../webIMIcon/icon_star.png");
        }
        &:nth-child(2){
          background-image: url("../webIMIcon/icon_department.png");
        }
        &:nth-child(3){
          background-image: url("../webIMIcon/icon_org.png");
        }
      }
    }
  }

  .panelContent{
    margin-left: 180px;
    height: 100%;
    overflow: auto;
    background: #ffffff;

    .contactItem {
      position: relative;
      padding: 20px 20px 20px 70px;
      border-bottom: 1px solid #f0f0f0;
      &:hover {
        background-color: #fafafa;
        transition: all ease-in 0.3s;
      }

      .contactAvatar {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
      }
      .userName{
       &:hover{
         cursor: pointer;
         text-decoration: underline;
       }
      }
      p:first-of-type {
        font-size: 14px;
        color: #333;
        margin-bottom: 6px;
      }
      p:nth-of-type(2) {
        font-size: 12px;
        color: #999;
        margin-bottom: 12px;
      }
    }
  }
}



.recent_tabPanel{
  position: relative;
  .Recent_IMPanelWrap{
    position: absolute;
    left: 700px;
    top: 0px;
    bottom: 0px;
    width: 460px;
    background: #ffffff;
    transition: all ease 0.5s;
    &.visible {
      left: 180px;
      box-shadow: -8px 2px 15px 0 rgba(0,0,0,0.03);
    }
  }
}
