.listContent{
  width: 430px;
  position: absolute;
  top: 60px;
  right: -410px;
  background: #FFFFFF;
  transition: 600ms;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
 // border: 1px solid rgb(230, 223, 223);

  .header{
    height: 50px;
    width: 100%;
    background: #f7f7f7;
    text-align: center;
  }
  ul{
    li{
      border-top: 1px solid #e6e6e6;
      background:#ffffff;
      width:100%;
      height:66px;

      :last-child{
        border-bottom: none;
      }
      .msgtitle{
        font-size:14px;
        color:#db3333;
        display: inline-block;
        max-width: 230px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .timeinfo{
        font-size:14px;
        color:#9b9b9b;
        padding-left: 12px;
        display: inline-block;
        max-width: 90px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      ul{
        border: none;
        width: 340px;
        height: 100%;
        float: left;
        padding: 10px 0 10px 10px;
        li{
          width: 100%;
          height: 22px;
          line-height: 22px;
          border: none;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }


    .alreadyRead{
      ul{
        color: #999999;
        li{
          span{
            color: #999999;
          }
        }
      }
    }
  }


}



.download{
  float: right;
  padding-right: 10px;
}


.loadMore{
  line-height: 40px;
  height: 40px;
  text-align: center;
  background: rgb(241, 244, 247);
  color: #666;
  cursor: pointer;
}

.modal {


  :global {

  }

  .modalContent {
    padding: 20px;

    i {
      font-size: 24px;
      color: #ffbf00;
      vertical-align: middle;
      margin-right: 15px;
    }
    span {
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

