.SelectList{
  position: relative;
  padding-left: 16px;
}
.SelectList:after{
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -5px;
  background: red;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}
