.list {
  .listItem {
    position: relative;
    padding: 30px 100px 26px 70px;
    border-bottom: 1px solid #f0f0f0;
  }
  .itemAvatar {
    position: absolute;
    left: 20px;
    top: 30px;
  }
}
