.passwordStrategyWrap{
  :global{
    .ant-checkbox-group-item {
      display: block;
      margin-right: 8px;
      height: 40px;
      line-height: 40px;
    }

    label{
      .ant-input-number{
        width: 100px;
        margin: 0 10px;
      }
      input{
        width: 50px;
        margin: 0 10px;
      }
    }
  }
}
