.dynamictable {
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      white-space: normal;
    }
  }
  .call{
    padding-left: 4px;
    color: #0694ef;
    width: 40px;
    font-size: 18px;
    cursor: pointer;
  }
}

:global{
  .innerTableWrap{
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      white-space: nowrap;
    }
  }
}


.relbusinessLink{
  display: inline-block;
  max-width: 80px;//有一个固定的宽度
  white-space: nowrap;//不允许换行
  overflow: hidden;//超出宽度不显示
  text-overflow: ellipsis;//规定当文本溢出包含元素时显示省略号。
}
