.wrap{
  width: 100%;
  overflow: hidden;
}
.left{
  width: 300px;
  float: left;
  border-radius: 4px;
  background: #ffffff;
  padding: 10px;
}

.right {
  height: 100%;
  margin-left: 320px;
  padding: 20px;
  background: #ffffff;
}


.rightContent {
  width: 100%;
}

.subtitle {
  line-height: 18px;
  font-size: 14px;
  border-left: 5px solid #8dc320;
  color: #4a4a4a;
  padding-left: 14px;
  margin-bottom: 16px;

  .breadcrumbLink {
    color: #3398db;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
      color: #64b1e4;
    }
  }
}

.treewrap {
  :global {
    .ant-tree li {
      font-size: 14px;
    }
    .ant-tree-node-content-wrapper {
      max-width: 14em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


.actionWrap{
  >span{
    color: #388bc8;
    cursor: pointer;
  }
}
