.Header{
  height: 40px;
  margin-bottom: 20px;
  .formWrap{
    float: left;
    margin-left: 20px;
  }
}

.leftNav{
  float: left;
}
.navList{
  width: 238px;
  height: 100%;
  margin: 0 20px 20px 0px;
  border:1px solid #f4f4f4;
}
.navList>li{
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom:1px solid #f4f4f4;
  cursor: pointer;
  font-size:14px;
  color:#000000;
  padding-left: 16px;
  position: relative;
}
.navList>li:last-child{
  border-bottom: none;
}

.navList>li.navListActive:after{
  content: '';
  width:5px;
  height:48px;
  position: absolute;
  left: 0px;
  background:#3398db;
  display: inline-block;
}



.text {
  display: inline-block;
  width: 200px; /* 页面重写width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin-right: 10px;
}


.intlInput{
  width: 300px;
}
